.container{
	display: flex;
	margin: 2px;
		align-items: center;
	flex-wrap: wrap;

    
}
h1{
	font-family:  fantasy;
	font-size: 2em;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;
	width: 400px;text-align: center;: 



}
img{
	height: 300px;
	width: 450px;
	margin:10px;
	transition: width 2s, height 4s;
}
img:hover{
	transform: scale(1.1);
}